.mapboxgl-ctrl-bottom-right {
    margin: 8px !important;
    bottom: 95px!important;
    width: auto;
    /* color: blue; */
    /* width: 12%!important; */
    /* width: 10px; */
    /* margin: 30px!important; */
}


/* extenral */

.legend_control_container {
    width: 330px!important;
    font-size: 13px!important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)!important;
}


/* internal */

.expanded {
    min-height: 300px!important;
}

.map_popup_control_container {
    display: none;
}

.param_title {
    font-size: 0.9rem;
    color: #f4ebeb;
    margin: 1px;
    padding-left: 8px;
}

.param_btn .btn-small {
    font-size: 0.7rem!important;
    text-align: left!important;
    padding-left: 6px!important;
    height: auto!important;
    line-height: 26.4px;
}

.map_legend_control_container .row {
    margin-bottom: 9px!important;
}

.map_legend_control_container {
    max-height: 438px;
    overflow: auto;
    color: white;
    min-width: 233px;
    background-color: #415161!important;
    padding: 3px!important;
    border: 1px solid #c5d0d7;
    color: white;
}

.map_legend_control_container a {
    margin-left: 2px;
}

.map_popup_control_container {
    max-height: 440px;
    min-width: 285px!important;
    overflow: auto;
    background-color: #041620!important;
    /* padding: 20px!important; */
    padding: 5px!important;
    border: 1px solid #041620;
    color: white;
    top: 15px;
}

.region_name {
    font-size: 1.78rem;
    line-height: 44%;
    margin: 1.22rem 0 .512rem 0;
    padding-left: 7px;
    padding-bottom: 5px;
}

.select_params_map_container {
    height: 25px;
    /* width: 200px; */
    /* border: 1px solid blue; */
}

.select_params_map_container .select-wrapper input.select-dropdown,
.select_params_map_container .select-wrapper span {
    font-size: 1.3em!important;
}

.select_params_map_container .select-wrapper span {
    line-height: 15px;
    padding: 14px 8px;
}

.select_params_map_container .dropdown-content li {
    /* max-height: 40px; */
    background-color: #d3d6cd;
    border-bottom: 1px solid white;
}

ul.select-dropdown,
ul.dropdown-content {
    width: 100% !important;
    top: 5px!important;
}

.select_params_map_container .select-dropdown.dropdown-content li.selected {
    background-color: rgba(255, 235, 59, 0.79)!important;
}

li:hover {
    background-color: black!important;
}

.select_params_map_container ul li:hover {
    background-color: white!important;
}

#sel_param_region {
    color: white;
    max-height: 350px;
    overflow: auto;
}

#sel_param_region:hover,
#sel_param_region div:hover {
    cursor: pointer;
}

.sel_param_name {
    background-color: #e47561;
    color: white;
    font-size: 1.2em;
    padding: 0 .75rem;
}

.last_update {
    color: white;
    margin-top: -11px;
    font-size: 0.8rem;
    padding: 0 0.75rem;
    height: 15px!important;
}

.lollipop_legend_description {
    color: white;
    margin-left: 18px;
    font-size: 0.8rem!important;
    height: 20px;
    max-width: 85%!important;
    float: left;
}

.lollipop_legend_description .title {
    font-size: 1rem!important;
    color: #FFC107;
}

.sel_param_name,
#sel_param_region>div.row {
    margin-bottom: 0px!important;
}

.mapboxgl-ctrl-bottom-right {
    display: block!important;
}

#sel_param_region i:hover {
    cursor: pointer;
}

#sel_param_region i {
    top: 15px;
    position: relative;
    color: white;
    font-size: 15px!important;
    margin-left: 12px;
}

.sidenav {
    width: 36%!important!;
}

.hovered {
    background-color: #ffeb3b!important;
    color: chocolate!important;
}

.clicked {
    /* background-color: #ffeb3b!important; */
    color: chocolate!important;
}

.x_axis path,
.x_axis line,
.y_axis path,
.y_axis line {
    stroke: rgb(242, 239, 239);
}


/* .tick text,
.tick line {
    stroke: rgb(247, 239, 239);
    font-weight: 200;
    fill: rgb(242, 239, 239)
}

.tick text,
.tick line,
.tick text,
.tick line {
    stroke: rgb(247, 239, 239);
    font-weight: 200;
    fill: rgb(242, 239, 239)
} */

body>nav>div>form>ul.left>li>p {
    font-size: 1.7rem;
    margin-top: -15px;
    /* color: white; */
    color: white;
    margin-left: 12px!important;
}

.sidenav-trigger {
    display: none!important;
}

.map_popup_control_container .row {
    margin-bottom: 2px!important;
}

.map_popup_control_container .row .col.s8 {
    color: white;
    font-size: 0.7rem;
    font-weight: 200;
}

.map_popup_control_container .row .col.s4 {
    color: tomato;
    font-size: 1rem;
    font-weight: 700;
}

.province_li .row {
    color: white!important;
    line-height: 23px!important;
    font-weight: 100!important;
    /* line-height: ; */
}

.covid_prov_value {
    font-size: 1.3rem!important;
    color: tomato!important;
}

.mapboxgl-popup {
    color: white;
    text-align: center!important;
    font-size: 1.1rem!important;
}

.remaining_days_description {
    font-size: 0.8em;
    /* display: none; */
}